<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    {% include 'util/cabeca.html' %}
    <div class="main-content">
        <div class="info">
            <div class="content">
                <h2>Lotus It Solutions ltda</h2>
                <h1>Soluções de tecnologia para fazendas urbanas</h1>
                <p>A Lotus IT Solutions ltda. tem como objetivo principal desenvolver soluções de software especializadas para fazendas urbanas, 
                visando otimizar o gerenciamento, controle e produtividade nesses ambientes específicos.</p><p>Nosso objetivo é fornecer soluções completas e inovadoras que permitam aos  
                nossos clientes enfrentar os desafios do gerenciamento agrícola em ambientes urbanos de forma eficiente e sustentável.</p>
            </div>
            <div class="espaçoimagem">
                <img src="noun-lotus-14165.svg" alt="Lotus">
            </div>
        </div>
        
        <div class="Regras">
            <div class="RegrasTitulo">
                <h3>Regras de negócio da empresa</h3>
            </div>
            <div class="RegrasInfo">
                <p>Priorizamos a segurança da informação, seguimos metodologia ágil de gerenciamento de projetos como o Scrum e nos comprometemos
                com a conformidade com a LGPD.</p>
                <p>Implementamos uma política abrangente de segurança da informação, em conformidade com a Lei Geral 
                de Proteção de Dados, para proteger dados confidenciais contra acesso não autorizado, roubo ou vazamento.</p>
                <p> Para fortalecer o 
                relacionamento com os clientes, adotamos a metodologia de Customer Relationship Management (CRM), mantendo um canal de comunicação 
                aberto e transparente e oferecendo um atendimento personalizado e eficiente.</p>
            </div>
        </div>
        <div class="Fazendas">
            <div class="FazendaTitulo">
                <h3>O que são Fazendas Urbanas</h3>
            </div>
            <div class="FazendaInfo">
                <p>As fazendas urbanas surgem como uma resposta dinâmica aos desafios da urbanização
                 e da segurança alimentar, transformando o tecido urbano em terreno fértil para a produção agrícola e comunitária.</p>
                 <p>Além de proporcionar alimentos frescos e saudáveis, as fazendas urbanas desempenham um papel crucial na educação ambiental
                 e na criação de espaços de convivência. Reduzindo a distância entre a produção e o consumo de alimentos, essas iniciativas também
                 contribuem para a mitigação das emissões de carbono relacionadas ao transporte de alimentos.</p>
            </div>
        </div>
        <div class="Titulo2">
            <h1>Quadro de avisos</h1>
        </div>
        <div class="container">
            <div class="grid-item item1">
                <img src="setembroA.jpg" alt="Salario">
            </div>
            <div class="grid-item item2">
                <img src="Vacinacao.jpg" alt="Vacinacao">
            </div>
            <div class="grid-item item3">
                <img src="13..jpg" alt="Salario">
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 Lotus IT Solutions. Todos os direitos reservados.</p>
            <p><a href="#">Política de Privacidade</a> | <a href="#">Termos de Serviço</a></p>
            <p>Contato: contato@lotusitsolutions.com | Telefone: (11) 1234-5678</p>
        </div>
    </footer>
</body>
</html>
