<!DOCTYPE html>
<html>
<body>
<head>
  <h2>Lista de Colaboradores</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for colaborador in colaboradores %}
      <tr>
        <td>{{ colaborador.id_Colaboradores }}</td>
        <td>{{ colaborador.nome_Colaboradores }}</td>
        <td>{{ colaborador.email_Colaboradores }}</td>
      </tr>
      {% endfor %}
    </tbody>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>